.git/
.vscode/
DevSkim-VSCode-Plugin/
flycheck/
guidance/
media/
Pipelines/
scripts/
.dockerignore
.gitignore
**/*.md
Dockerfile*
LICENSE.txt
DevSkim-DotNet/.vs/
DevSkim-DotNet/.vscode/
DevSkim-DotNet/Microsoft.DevSkim.VSExtension/
DevSkim-DotNet/Microsoft.DevSkim.VSExtension.Tests/
DevSkim-DotNet/Microsoft.DevSkim.sln
