################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevSkim/src/Microsoft.DevSkim/Microsoft.DevSkim.VSExtension/bin/Debug
