################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/Microsoft.DevSkim/Microsoft.DevSkim.CLI/bin/Debug
