<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DevSkim" version="0.3.7" targetFramework="net45" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading.Analyzers" version="16.5.132" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.1.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>