<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.DevSkim" version="0.3.7" targetFramework="net45" />
  <package id="Microsoft.PowerShell.5.ReferenceAssemblies" version="1.1.0" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.CoreUtility" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Text.Data" version="16.4.280" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Threading" version="16.4.16" targetFramework="net472" />
  <package id="Microsoft.VisualStudio.Validation" version="15.3.15" targetFramework="net472" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.0.0" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.0.0" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Collections.Immutable" version="1.5.0" targetFramework="net472" />
  <package id="System.ComponentModel.Composition" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net472" />
  <package id="System.Security.AccessControl" version="4.5.0" targetFramework="net472" />
  <package id="System.Security.Principal.Windows" version="4.5.0" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.3" targetFramework="net472" />
</packages>