@page "/"
@using System.IO;
@using Tewr.Blazor.FileReader;
@using Microsoft.CST.OpenSource.RecursiveExtractor;
@inject IFileReaderService fileReaderService;

<input type="file" @ref=inputTypeFileElement />
<button @onclick=ReadFile>Read file</button>

@functions {
    ElementReference inputTypeFileElement;
    Extractor extractor = new Extractor(new ExtractorOptions() { EnableTiming = false, ExtractSelfOnFail = false });

    public async Task ReadFile()
    {
        foreach (var file in await fileReaderService.CreateReference(inputTypeFileElement).EnumerateFilesAsync())
        {
            var info = await file.ReadFileInfoAsync();
            using var stream = await file.OpenReadAsync();
            //extractor.ExtractStream(info.Name, stream, true);
        }
    }
}