@page "/viewcode/{Guid}"
@using Microsoft.CodeAnalysis.Sarif;
@using System.Text;
@using Newtonsoft.Json; 
@inject Blazored.LocalStorage.ILocalStorageService localStorage;

<div>
    @if (FileName != null)
    {
        <p>Viewing code for <b>@FileName</b> during <b>@RunId</b></p>
    }
    else
    {
        <p>Could not fetch file information given @Guid</p>
    }
</div>

<code class="lang-@Language">
    @Code
</code>

@code {
    [Parameter]
    public string Guid { get; set; } = "Not Provided";

    public string? FileName { get; set; }

    public string? Code { get; set; }

    public string? Language { get; set; }

    public string? RunId { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var res = await localStorage.GetItemAsync<Results>("DevSkimResults");
        var theGuid = Guid;
        var results = await localStorage.GetItemAsync<CodeFile>(Guid);

        Code = results.Content;
        FileName = results.FileName;
        Language = Microsoft.DevSkim.Language.FromFileName(FileName ?? string.Empty);
        RunId = results.RunId;

        this.StateHasChanged();
    }
}
