################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DevSkim/bin
DevSkim/obj
DevSkim.Tests/bin
DevSkim.Tests/obj
TestResults
packages
.vs/
