################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

DevSkim/bin
DevSkim/obj
packages
.vs/
