################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Microsoft.Security.DevSkim/*.nupkg
Microsoft.Security.DevSkim/bin
Microsoft.Security.DevSkim/obj
Microsoft.Security.DevSkim.Tests/bin
Microsoft.Security.DevSkim.Tests/obj
TestResults
packages
.vs/
