@inherits LayoutComponentBase
@using System.Reflection;
<div class="page">

    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            @Version <a href="http://github.com/Microsoft/DevSkim" target="_blank" class="ml-md-auto">About DevSkim</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
 </div>

    @code{
        private string Version = string.Empty;

        protected override void OnInitialized()
        {

            Version = $"v.{Assembly.GetExecutingAssembly().GetName().Version.ToString()}";
        }
    }
