# include these to be ignored
out
node_modules
npm-debug.log
rules
rulesValidationLog.json
.vscode/*

#exclude these from being ignored
#exclude everything in .vscode except launch and tasks
!.gitignore
!.vscode
!.vscode/launch.json
!.vscode/tasks.json