# include these to be ignored
.idea
out
client/out
server/out
npm-debug.log
node_modules
**/node_modules
**/rulesValidatiionLog.json
**/.vscode*
**/.vscode/**

#exclude these from being ignored
!**/.gitignore

#exclude everything in .vscode except launch and tasks
!.vscode/launch.json
!.vscode/tasks.json