**/*.ts
**/*.yml
**/*.gif
**/*.png
.vscode
.gitignore
tsconfig.json
node_modules

client/node_modules
client/out
client/*.md
client/tsconfig.json
client/.gitignore

server/*.md
server/tsconfig.json
server/.gitignore
server/jest.config.js
server/node_modules