################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

Microsoft.DevSkim/*.nupkg
Microsoft.DevSkim/bin
Microsoft.DevSkim/obj
Microsoft.DevSkim.Tests/bin
Microsoft.DevSkim.Tests/obj
Microsoft.DevSkim.CLI/bin
Microsoft.DevSkim.CLI/obj
TestResults
packages
.vs/
*.log