name: Publish Blazor

on:
  push:
    branches: [ main ]
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x

    - name: Pack Rules
      run: dotnet RulePacker/devskim.dll pack rules DevSkim-DotNet/Microsoft.DevSkim/Resources/devskim-rules.json

    - name: Build
      run: dotnet publish DevSkim-DotNet/Microsoft.DevSkim.Blazor --configuration Release --self-contained -r browser-wasm 

    - name: GitHub Pages action
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_branch: gh-pages
        publish_dir: DevSkim-DotNet/Microsoft.DevSkim.Blazor/bin/Release/net5.0/publish/wwwroot
